.header{
    grid-area: header;
    nav {
        ul{ 
            li{
                font-size: 1.1rem;
                font-weight: bold;
                color: #4e853b;
                &:hover{
                    text-decoration: underline;
                } 
            }
         }
        }
    }